body {
    background: salmon;
}

.mainHeader {
    color: tomato;
}

.sectionHeader {
    color: #1460AA;
}

.diaryHeader {
    color: #6c1285;
    font-size: 64px;
}

.paragraph {
    color:darkblue;
}

.pamietniczek {
    background: hotpink;
}

.header {
    color: yellow;
}

.heading {
    color:red;
}